.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-left {
    display: flex;
    color: black;
  }
  .navbar-collapse {
    right: 0;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
    font-size: 2rem !important;/* Adjust the size to your liking */
  }
  
  .brand > a {
    margin: 0 auto;
  }
  
  .nav-right {
    display: flex;
    justify-content: flex-end;
  }